.open-sans-fonts {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* header */
.header{
background-image: url(../images/developer.png), url(../images/header_bg.png);
background-repeat: no-repeat, no-repeat;
background-size: contain, cover;
background-size: 60px, 560px;
background-position: left center, right bottom;
background-color: #FFF8F3;
/* margin-top: 200px, 0; */
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 134px;
}
.mary{
    font-size: 30px;
    font-weight: 800;
    color: #181818;
    margin-left: 20px;
}
.r-color{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 13px;
    padding: 12px 23px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
}
.btn-contact{
    background-color: #FFF8F3;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    padding: 12px 23px;
    font-size: 13px;
    font-weight: bold;
    color: #FD6E0A;
    margin-left: 15px;
}
nav ul li{
    list-style: none;
    margin-right: 33px;
}
nav li a{
    text-decoration: none;
    font-size: 13px;
}
nav ul{
    display: flex;
    align-items: center;

}
.dark-2{
    color: #474747;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 25px 0 155px;
}
.banner-greetings{
    font-size: 30px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 2px;
}
.banner-title{
    font-size: 57px;
    font-weight: 700;
    color: #181818;
    margin-top: 2px;
    margin-bottom: 2px;
}
.banner-description{
    font-size: 12px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 20px;
}
.picture-of-hardy{
    width: 390px;
}

/* main styles */

.about-section{
    background-color: #FFF8F3;
    max-width: 760px;
    margin: 90px auto;
    border-radius: 20px;
    padding: 87px 105px;
    text-align: center;
    margin-top: 100px;
}

.about-items{
    display: flex;
    justify-content: space-around;
}
.section-head{
    font-size: 25px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
    
}
.section-description{
    font-size: 14px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 20px;
}
.item-title{
    font-weight: 400;
    font-size: 13px;
    color: #757575;
}
.item-description{
    font-weight: bold;
    font-size: 13px;
    color: #474747;
}

/* What I do- Part Styles */
.experience-title{
    text-align: center;
    font-size: 25px;
    color: #181818;
    margin-bottom: 20px;
    margin-top: 110px;
}
.experience-description{
    text-align: center;
    font-size: 14px;
    color: #757575;
    margin-bottom: 50px;
}

/* skills Styles */

.skills-section{
    display: flex;
    gap: 25px;
    justify-content: space-around;
    padding: 0 140px;
}
.skills{
    text-align: left;
    padding: 25px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.09);
    border-radius: 15px;
}
.skills-head{
    font-size: 15px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 10px;
}
.skills-description{
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}