.open-sans-fonts {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* header */
.header{
background-image: url(../images/developer.png), url(../images/header_bg.png);
background-repeat: no-repeat, no-repeat;
background-size: contain, cover;
background-size: 60px, 560px;
background-position: left center, right bottom;
background-color: #FFF8F3;
/* margin-top: 200px, 0; */
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 134px;
}
.mary{
    font-size: 30px;
    font-weight: 800;
    color: #181818;
    margin-left: 20px;
}
.r-color{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 13px;
    padding: 12px 23px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
}
nav ul li{
    list-style: none;
    margin-right: 33px;
}
nav li a{
    text-decoration: none;
    font-size: 13px;
}
nav ul{
    display: flex;
    align-items: center;

}
.dark-2{
    color: #474747;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 25px 0 155px;
}
.banner-greetings{
    font-size: 30px;
    font-weight: 600;
    color: #474747;
    /* margin-bottom: 5px; */
}
.banner-title{
    font-size: 57px;
    font-weight: 700;
    color: #181818;
    /* margin-bottom: 10px; */
}
.banner-description{
    font-size: 12px;
    font-weight: 400;
    color: #757575;
}
.picture-of-hardy{
    width: 390px;
}